%h1 Add this to your bookmark bar:
.bookmarklet-btn
  = link_to "Add Wish", 'javascript:(function(){javascript:(function(){new_script=document.createElement("SCRIPT");new_script.type="text/javascript";new_script.src="https://dl.dropbox.com/u/21498355/wishfactory_bookmarklet.js?u=x="+(Math.random());document.getElementsByTagName("head")[0].appendChild(new_script);})();})();'
