%h1 Add this to your bookmark bar:
.bookmarklet-btn
  = link_to "Add Wish", 'javascript: (function(){ document.body.appendChild(document.createElement("script")).src="https://dl.dropbox.com/u/21498355/wishfactory_bookmarklet.js"; }());'